/* 초기화 CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, html {
	line-height: 1;
  font-size: 16px;
  scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --hj-gray: #999999;
  --hj-white: #e6e6e6;
  --hj-blue: #062865;
  --hj-navy: #03101b;
}
* {
  box-sizing: border-box;
  font-family: "Pretendard";
  word-break: keep-all;
  letter-spacing: -0.025em;
  line-height: 30px;
}
a, a:link {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-size: 80px;
    line-height: 89px;
}
h2 {
  font-size: 46px;
  line-height: 52px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 24px;
}
.c-b {
  color: var(--hj-blue);
}
.c-g {
  color: var(--hj-gray);
}
.c-w {
  color: var(--hj-white);
}

/* Think Block */
.wrapper {
  width: 100%;
  overflow: hidden;
}
.top-btn {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  background-color: rgba(255,255,255,0.3);
  border-radius: 50%;
  z-index: 999999;
}
.top-btn a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
.top-btn img {
  width: 50%;
}

/* SLIDE MENU */
.menu-slide {
  display: none;
}
/* HAMBURGER */
.mobile-menu {
  display: none;
}
/* HEADER */
header {
	width: 105%;
	height: 90px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	text-transform: uppercase;
	transition: 1s;
  background: transparent;
  overflow: hidden;
	z-index: 9999;
}
header.active {
	width: 105%;
	height: 90px;
	position: fixed;
	top: 0px;
	box-sizing: border-box;
	background: var(--hj-navy);
	transition: 1s;
}
.header-inner {
	position: relative;
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  position: relative;
  float: left;
  width: 130px;
  height: 90px;
  margin-top: 5px;
  transition: .5s;
}
.logo a {
  width: 100%;
  margin: auto;
}
.logo a img {
  width: 100%;
  line-height: 90px;
}

/* HEADER RIGHT */
.header-right {
  height: 90px;
}
nav {
  position: relative;
	height: 100%;
	float: right;
  display: flex;
  align-items: center;
}
nav a {
  color: var(--hj-white) !important;
  margin: 0 30px;
	font-size: 20px;
	font-weight: 200;
}

#horizontal-underline{
  position: absolute;
  width: 0;
  background-color: var(--hj-gray);
  top: 0;
  left: 0;
  height: 1px;
  transition: .5s;
}

/* MOBILE HEADER */
.mobile-header {
  display: none;
}

/* INTRO PAGE */
.intro-page {
  position: relative;
  height: 100vh;
  padding-top: 60px;
  background-color: #03101b;
  background: url("/img/intro-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  z-index: 99;
}
.intro-page .content{
  display: flex;
  margin-top: 250px;
  padding-left: 10px;
  color: #fff;
}
.intro-page .content .textBox {
  width: 850px;
  padding: 2px;
  margin-left: 10px;
  z-index: 99;
}
.intro-page h4 {
  margin-top: 20px;
  margin-left: 10px;
  line-height: 30px;
  font-weight: 300;
  font-size: 29px;
}
.intro-page .btn {
  position: relative;
  font-size: 12px;
  border-radius: 25px;
  margin-top: 150px;
}
.intro-page .btn a {
  margin: 5px;
  padding: 16.5px 48px;
  border-radius: 25px;
  overflow: hidden;
  transition: .4s;
}
.intro-page .btn a:first-child {
  background-color: var(--hj-yellow);
}
.intro-page .btn a:first-child:hover {
  background-color: var(--hj-blue);
}
.intro-page .btn a:nth-child(2) {
  border: 2px solid #fff;
}
.intro-page .btn a:nth-child(2):hover {
  border: 2px solid #fff;
  color: var(--hj-yellow);
  border: 2px solid var(--hj-yellow);
}
.intro-page .imgBox {
  width: 550px;
}
.intro-page .imgBox img {
  width: 100%;
}
.intro-page .content .textBox {
  color: var(--hj-white);
}
.scroll {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100vw;
  text-align: center;
}
.scroll img {
  width: 50px;
  animation: scroll 2s linear infinite;
}
@keyframes scroll {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}
/* CONTENT COMMON */
.content { 
  width: 1280px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 80px 50px;
}
.content01, .content03, .content05,.content06 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  padding: 0;
}
.content .imgBox {
  width: 50%;
}
.content .imgBox img {
  width: 80%;
}
.content .textBox {
  width: 50%;
  color: var(--hj-blue);
}
.content .textBox.al-c {
  width: 100%;
  text-align: center;
}
.content .textBox p {
  width: 510px;
  margin-top: 20px;
  line-height: 25px;
  font-size: 20px;
}
.title {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  color: var(--hj-blue);
}
.title span {
  margin-left: 10px;
}
.btn {
  text-transform: uppercase;
}

/* CONTENT01 */
.content01 .imgBox {
  width: 50%;
  height: 100%;
  background: url("/img/1.welcome.jpg");
  background-size: cover;
  background-position: center;
}
.content01 .textBox {
  padding-left: 40px;
}
.content01 .textBox h2 {
  width: 500px;
}
/* CONTENT02 */
.content02 {
  width: 100%;
  height: 520px;
  padding: 0;
  background-color: var(--hj-navy);
  color: var(--hj-white);
    min-height: 42vh;
}
.content02 .titleBox {
  padding-top: 70px;
  width: 1280px;
  margin:0 auto;
}
.content02 .title {
  color: var(--hj-white);
}
.content02 .itemBox {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.content02 .itemBox .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 270px;
  height: 310px;
  margin: 0 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.content02 .itemBox .item img{
  position: absolute;
  top: 15%;
  width: 110px;
  transition: .5s;
}
.content02 .itemBox .item .item-name {
  font-size: 32px;
  padding-top: 172px;
  margin: 15px auto;
}
.content02 .itemBox .item .item-des {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 25px;
}
/* CONTENT03 */
.content03 {
  flex-direction: row-reverse;
}
.content03 .title {
  justify-content: flex-end;
}
.content03 .imgBox {
  width: 50%;
  height: 100%;
  background: url("/img/3.evolution.jpg");
  background-size: cover;
  background-position: center;
}
.content03 .textBox {
  align-items: end;
  padding-right: 40px;
  text-align: right;
  display: flex;
  flex-direction: column;
}
.content03 .textBox p {
  line-height: 30px;
}
.content03 .imgBox img {
  width: 800px;
  margin-left: -250px;
}
.content03 .btn {
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--hj-yellow);
  margin-top: 30px;
  overflow: hidden;
}
.content03 .btn .btnBack {
  display: block;
  position: relative;
  right: 25px;
  width: 200px;
  height: 100px;
  background-color: var(--hj-blue);
}
.content03 .btn .btnBack.goUp {
  animation: slideUp .5s forwards;
}
.content03 .btn .btnBack.goDown {
  animation: slideDown .4s forwards;
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-75px);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-75px);
  }
  to {
    transform: translateY(0);
  }
}
.content03 .btn a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-size: 12px;
  z-index: 10;
}
/* CONTENT04 */
.content04 {
  width: 100vw;
  background-color: #f3f7f8;
}
.content04 .content-inner {
  width: 1280px;
  margin: 0 auto;
  z-index: 9;
}
.content04 .textBox p {
  width: 700px;
  margin: 20px auto 0;
  font-size: 20px;
  line-height: 30px;
}
.content04 .textBox p span {
  font-size: 16px;
}
.content04 .title {
  justify-content: center;
  margin-top: 20px;
}
.content04 .chartBox {
  margin: 70px auto;
}
.content04 .chart-top {
  margin-left: 42px;
  align-items: end;
}
.content04 .chart-bottom {
  margin-left: 100px;
}
.content04 .chart { 
  display: flex;
}
.chart-info p {
  color: #1a5c9e;
  font-size: 20px;
  line-height: 26px;
}
.chart-info span {
  font-size: 18px;
  line-height: 20px;
}
.chart-top .chart-info{
  margin-right: 200px;
  z-index: 2;
}
.chart-top .chart-info:nth-child(2) {
  margin-right: 165px;
}
.chart-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 110px;
  margin: -25px;
}
.chart-img img {
  height: 130%;
}
.chart-bottom .chart-info{
  margin-left: 160px;
}
.chart-bottom .chart-info:nth-child(3){
  margin-left: 185px;
}

/* CONTENT05 */
.content05 {
  position: relative;
  background-color: var(--hj-navy);
  box-shadow: 1px -1px 0px 0px #515151;
  overflow: hidden;
  min-height: 30vh;
}
.content05 .title {
  display: none;
}
.content05 .content-inner {
  width: 1280px;
  margin: 0 auto;
  z-index: 9;
}
.content05 .textBox {
  width: 50%;
  color: var(--hj-white);
  z-index: 2;
}
.content05 .textBox p {
  width: 410px;
  line-height: 30px;
  margin-top: 60px;
}
.content05 .imgBox {
  position: absolute;
  right: 100px;
  width: 1000px;
  height: 560px;
  background: url(/img/5.network.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.content05 .companies {
  display: flex;
}
.content05 .companies .company {
  width: 300px;
}
.content05 .companies .company img {
  width: 100%;
}
.content05-back {
  display: none;
}

/* CONTENT06 */
.content06 {
  width: 100vw;
  height: 200px;
  min-height: auto;
  background-color: var(--hj-navy);
  box-shadow: 0 5px 5px -5px #fff;
}
.content06 .content-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
  z-index: 9;
}
.content06 .title {
  color: var(--hj-white);
  margin-bottom: 19px;
}
.content06 .textBox {
  width: 100%;
  text-align: left;
  color: #f1f1f1;
}
.content06 .imgBox img {
  width: 600px;
  margin-left: -50px;
}
.vaex-link {
  display: flex;
  width: 450px;
  height: 180px;
}
.vaexBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.vaex-link .qr {
  margin-right: 10px;
}
.vaex-web a{
  font-size: 18px;
  padding-left: 20px;
  font-size: 20px;
  line-height: 28px;
}
.vaex-web a:hover {
  color: rgb(161, 161, 161);
}

/* CONTENT07 */
.content07 {
  width: 100%;
  background-color: #fff;
}

.content07 .title {
  justify-content: center;
}
.content07 .textBox p {
  width: 600px;
  margin: 20px auto;
}
.content07 .textBox p span {
  color: rgb(131, 131, 131);
  font-size: 15px;
}
.team-slider {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.team-slider .multiple-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.team-slider .multiple-items .item {
  margin: 50px 20px 0;
  width: 250px;
  display: inline-block;
  line-height: 22px;
  text-align: center;
}
.team-slider .multiple-items .item .item-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-slider .multiple-items .item .item-img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c8c8c8;
  overflow: hidden;
}
.team-slider .multiple-items .item .item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.team-slider .multiple-items .item:nth-child(4) .item-img img {
  transform: scale(1.2);
}
.team-slider .multiple-items .item:nth-child(6) .item-img {
  background-color: #dee7f8;
}
.team-slider .multiple-items .item:nth-child(6) .item-img img {
  transform: scale(0.7) translateY(-30px);
}
.team-slider .multiple-items .name {
  font-size: 20px;
  color: var(--hj-blue);
  line-height: 50px;
}
.team-slider .multiple-items .job {
  font-size: 18px;
  line-height: 25px;
  color: var(--hj-gray);
  margin-top: -5px;
}

/* CONTENT08 */
.content08 {
  background-color: #f3f7f8;
  width: 100vw;
  height: 550px;
  min-height: auto;
  background-image: url("/img/event-back.png");
  background-size: cover;
  background-position: center;
  background-position-x: -1800px;
  background-repeat: no-repeat;
}
.content08 .content-inner {
  width: 1280px;
  margin: 0 auto;
}
.content08 .title {
  justify-content: flex-start;
}
.content08 .textBox.al-c {
  text-align: left;
}
.content08 .underLine {
  display: none;
}
.eventsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 60px;
  width: 100%;
  text-align: center;
}
.event {
  text-align: left;
  display: flex;
  height: 80px;
  padding: 0px 0px;
  transition: .5s;
}
.event .event-ym {
  width: 225px;
  font-size: 24px;
  line-height: 30px;
}
.event .event-day {
  width: 150px;
  font-size: 26px;
  font-weight: 500;
}
.event .event-title {
  width: 400px;
  font-size: 28px;
  font-weight: 600;
}
.event .event-des {
  width: 300px;
  font-size: 20px;
}
/* CONTENT09 */
.content09 {
  width: 100%;
  min-height: 10vh;
}
.content09 .content-inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}
.content09 .logo-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content09 .logo-slide .logo-item {
  height: 130px;
  margin: 0 35px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content09 .logo-slide .logo-item img {
  height: 100%;
}
.slick-arrow {
  display: none !important;
}
.slick-dots {
  display: none !important;
}
/* FOOTER */
footer {
  text-align: center;
  color: var(--hj-white);
  background-color: var(--hj-navy);
}
footer .footer-title {
  padding-top: 60px;
  font-size: 38px;
  line-height: 50px;
}
.contact {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  font-size: 26px;
}
.contact .contact-item {
  margin: 0 30px;
}
.underLine {
  width: 100%;
  display: flex;
  justify-content: center;
}
.underLine-line {
  width: 700px;
  height: 0.3px;
  background-color: rgb(109, 116, 129);
  margin: 50px 0 30px;
}
.sns-icon {
  display: flex;
  justify-content: center;
}
.sns-icon .iconBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
}
.sns-icon .iconBox a {
  position: absolute;
    top: 10px;
}
.sns-icon .iconBox a img{
  width: 36px;
}
.sns-icon .iconBox {
  transition: .2s;
}
.copyright {
  margin-top: 50px;
  padding-bottom: 50px;
  font-size: 14px;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@  모바일 버젼입니돵 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media screen and (max-width: 480px) { 
  html {
    background-color: #fff;
  }
  h1 {
    font-size: 32px;
    line-height: 37px;
  }
  h2 {
    font-size: 22px;
    line-height: 26px;
  }
  h3 {
    font-size: 20px;
    line-height: 26px;
  }
  header {
    display: none;
  }
  /* TOP BTN */
  .top-btn {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 50%;
    z-index: 99997;
  }
  .top-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }
  .top-btn img {
    width: 50%;
  }
  .menu-slide {
    display: block;
  }
  .text-slide {
    position: fixed;
    left: -68vw;
    width: 67vw;
    height: 100vh;
    padding-top: 100px;
    padding-left: 30px;
    background-color: #f0f1f2;
    box-shadow: 0 0 10px #5f5f5f;
    transition: 1s;
    text-transform: uppercase;
    z-index: 99998;
  }
  .text-slide ul li {
    margin-bottom: 30px;
  }
  .text-slide ul li a {
    color: var(--hj-navy);
  }
  .menu-slide.active .text-slide{
    left: 0;
  }
  .dontouch {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99997;
  }
  .menu-slide.active .dontouch{
    left: 0;
  }
  
  /* HAMBURGER */
  #hamburger {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    width: 75px;
    height: 75px;
    background: none;
    z-index: 99999;
  }
  #line-wrapper {
    position:relative;
    top: 20.5px;
    left: 26px;
    cursor:pointer;
    width:28px;
    height:23px;
  }
  .init {
    animation:none !important;
  }
  .line {
    position: relative;
    background: #ffffff;
    margin-top: 6px;
    margin-bottom: 6px;
    width: 28px;
    height: 3.5px; 
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition: background-color 2s;
  }
  .line-top {
    animation:line-top .5s forwards ease-out,
              line-top-rotate .3s .5s forwards ease-out;
    background-color: var(--hj-navy);
  }
  .top-reverse {
    animation:line-top-rotate-reverse .3s forwards ease-out,
              line-top-reverse .5s .3s forwards ease-out;
  }
  .line-mid {
    animation:line-mid .5s forwards ease-out;
    background-color: var(--hj-navy);
  }
  .mid-reverse {
    animation: line-mid-invisible .3s forwards ease-out, 
              line-mid-reverse .5s .3s forwards ease-out;
  }
  .line-bot {
    animation:line-bot .5s forwards ease-out,
              line-bot-rotate .3s .5s forwards ease-out;
    background-color: var(--hj-navy);
  }
  .bot-reverse {
    animation:line-bot-rotate-reverse .3s forwards ease-out,
              line-bot-reverse .5s .3s forwards ease-out;
  }
  @keyframes line-top {
    0% {transform:translateY(0px)}
    100% {transform:translateY(3px)}
  }
  @keyframes line-top-reverse {
    0% {transform:translateY(3px)}
    100% {transform:translateY(0px)}
  }
  @keyframes line-top-rotate {
    0% {transform:translateY(3px) rotateZ(0deg)}
    100% {transform:translateY(9px) rotateZ(45deg)}
  }
  @keyframes line-top-rotate-reverse {
    0% {transform:translateY(3px) rotateZ(45deg)}
    100% {transform:translateY(3px) rotateZ(0deg)}
  }
  @keyframes line-mid {
    0% {transform:scale(1)}
    100% {transform:scale(0)}
  }
  @keyframes line-mid-reverse {
    0% {transform:scale(0)}
    100% {transform:scale(1)}
  }
  @keyframes line-mid-invisible {
    0% {transform:scale(0)}
    100% {transform:scale(0)}
  }
  @keyframes line-bot {
    0% {transform:translateY(0px)}
    100% {transform:translateY(-3px)}
  }
  @keyframes line-bot-reverse {
    0% {transform:translateY(-3px)}
    100% {transform:translateY(0px)}
  }
  @keyframes line-bot-rotate {
    0% {transform:translateY(-3px) rotateZ(0deg)}
    100% {transform:translateY(-9px) rotateZ(135deg)}
  }
  @keyframes line-bot-rotate-reverse {
    0% {transform:translateY(-3px) rotateZ(135deg)}
    100% {transform:translateY(-3px) rotateZ(0deg)}
  }
  
  /* MOBILE HEADER */
  .mobile-header {
    position: fixed;
    display: block;
    width: 100vw;
    height: 80px;
    background-color: var(--hj-navy);
    z-index: 9999;
  }
  .m-header-inner {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .m-logo {
    width: 120px;
    margin: 0 auto;
  }
  .m-logo img{
    width: 100%;
  }
  
  /* INTRO PAGE */
  .intro-page {
    background-position-x: -536px;
    background-position-y: 125px;
    background-color: #03101b;
  }
  .intro-page .content {
    margin-top: 100px;
  }
  .intro-page .textBox {
    width: 315px;
  }
  .intro-page h4 {
    font-size: 16px;
    line-height: 19px;
    margin-left: 0;
  }
.scroll {
  display: none;
}

  /* CONTENT */
  .content {
    width: 100vw;
    display: block;
    position: relative;
    height: auto;
    min-height: auto;
    padding: 50px 0 9px;
  }
  .title {
    line-height: 18px;
  }
  
  /* CONTENT 01 */
  .content01 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38px;
    left: 30px;
  }
  .content01 .imgBox {
    position: relative;
    top: 30px;
    width: 100%;
    height: 300px;
  }
  .content01 .textBox {
    width: 85vw;
    margin-top: 60px;
    padding-bottom: 35px;
  }
  .content01 .textBox h2 {
    width: 90vw;
  }
  .content01 .textBox p {
    font-size: 16px;
    line-height: 22px;
    width: auto;
  }
  /* CONTENT02 */
  .content02 .titleBox {
    margin-left: 30px;
    padding-top: 0;
  }
  .content02 .itemBox {
    flex-wrap: wrap;
    padding: 0;
  }
  .content02 .itemBox .item {
    width: 50%;
    height: 265px;
    margin: auto;
  }
  .content02 .itemBox .item .item-name {
    font-size: 22px;
    padding-top: 150px;
  }
  .content02 .itemBox .item .item-des {
    font-size: 15px;
    line-height: 18px;
  }
  /* CONTENT03 */
  .content03 .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 38px;
    left: 30px;
  }
  .content03 .imgBox {
    position: relative;
    top: 30px;
    width: 100%;
    height: 300px;
  }
  .content03 .textBox {
    align-items: flex-start;
    width: 96vw;
    margin-top: 60px;
    margin-left: 30px;
    padding-bottom: 35px;
    text-align: left;
  }
  .content03 .textBox p {
    position: relative;
    font-size: 16px;
    line-height: 22px;
    max-width: calc(100vw - 40px);
    width: 100%;
  }
  /* CONTENT04 */
  .content04 {
    width: auto;
    padding: 30px 20px;
    margin: 0 auto;
    min-height: 780px;
    background-color: #f3f7f8;
  }
.content04 .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .content04 .content-inner {
    width: auto;
    margin: 0 auto;
    z-index: 9;
  }
  .content04 .textBox.al-c {
    width: auto;
    text-align: left;
  }
  .content04 .textBox.al-c div {
    justify-content: left;
  }
  .content04 .textBox p span {
    font-size: 14px;
    line-height: 20px;
}
  .content04 .textBox.al-c p {
    line-height: 22px;
    letter-spacing: 0.1px;
    font-size: 16px;
    width: 310px;
    margin: 20px 0 0;
  }
  .content04 .chartBox {
    position: relative;
    width: calc(100vw - 40px);
    margin: 40px auto;
  }
  .chart-info p {
    font-size: 16px;
    line-height: 16px;
}
  .chart-info span {
    font-size: 14px;
    line-height: 20px;
  }
  .content04 .chart {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    line-height: 16px;
  }
  .content04 .chart-top {
    margin-left: 0px;
    text-align: right;
  }
  .chart-top .chart-info {
    margin-bottom: 95px;
    margin-right: 53vw;
  }
  .chart-top .chart-info:nth-child(2) {
    margin-right: 53vw;
  }
  .content04 .chartBox .chart-img {
    height: 40px;
  }
  .content04 .chartBox .chart-img img {
    position: absolute;
    top: 325px;
    width: 650px;
    height: 65px;
    transform: rotate(90deg);
  }
  .content04 .chart-bottom {
    position: absolute;
    top: 0;
    right: 0;
    text-align: left;
    margin-left: 0;
    width: auto;
  }
  .chart-bottom .chart-info {
    margin-bottom: 95px;
    margin-left: 55vw;
  }
  .chart-bottom .chart-info:first-child {
    margin-top: 85px;
  }
  .chart-bottom .chart-info:nth-child(3) {
    margin-left: 55vw;
}
  /* CONTENT05 */
  .content05 {
    background-color: transparent;
    background-image: url("/img/5-1.network.png");
    background-position: center;
    background-size: cover;
  }
  .content05 .title {
    display: block;
    position: absolute;
    top: 50px;
    left: 30px;
  }
  .content05 .imgBox {
    position: relative;
    top: 30px;
    width: 100%;
    height: 300px;
  }
  .content05 .textBox {
    margin-top: 60px;
    margin-left: 30px;
    width: 280px;
    padding-bottom: 35px;
  }
  .content05 .textBox p {
    font-size: 16px;
    line-height: 22px;
    width: calc(100vw - 60px);
  }
  .content05 .countingBox .count-num {
    font-size: 32px;
    line-height: 39px;
}
  .content05 .companies {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw - 60px);
  }
  .content05 .companies .company {
    width: 300px;
  }
  .content05 .companies .company img {
    width: 100%;
  }
  .content05 .countingBox .count-des {
    font-size: 14px;
}
  .content05 .imgBox {
    display: none;
  }
  /* CONTENT06 */
  .content06 {
    padding: 50px 10px;
    height: 145px;
  }
  .content06 .content-inner {
    width: calc(100vw - 60px);;
    height: 100%;
  }
  .content06 .title {
    display: none;
  }
  .content06 .textBox {
    width: 78%;
  }
  .content06 .textBox p {
    font-size: 14px;
    width: calc(100vw - 60px);
  }
  .vaexBox {
    width: 100%;
  }
  .vaex-link {
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .vaex-link .qr {
    width: 70px;
    margin: 0;
  }
  .vaex-link .qr img{
    width: 100%;
  }
  .vaex_home {
    display: none;
  }
  /* CONTENT07 */
  .content07 {
    padding: 50px 10px;
  }
  .content07 .textBox.al-c {
    width: calc(100vw - 20px);
    text-align: left;
    padding-left: 20px;
  }
  .content07 .textBox .title {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .content07 .textBox p {
    width: 100%;
    font-size: 16px;
    line-height: 21px;
  }
  .team-slider {
    width: 100%;
  }
  .team-slider .multiple-items .item {
    margin: 15px 3px 0;
    width: 45%;
  }
  .team-slider .multiple-items .item .item-img {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .team-slider .multiple-items .name {
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
  }
  .team-slider .multiple-items .job {
    font-size: 14px;
    line-height: 14px;
    color: var(--hj-gray);
  }
  /* CONTENT08 */
  .content08 {
    padding: 30px 20px;
  }
  .content08 .content-inner {
    width: calc(100vw - 40px);
  }
  .content08 .textBox.al-c {
    width: calc(100vw - 20px);
    text-align: left;
  }
  .content08 .textBox .title {
    align-items: center;
    justify-content: left;
  }
  .content08 .underLine {
    display: flex;
    justify-content: left;
  }
  .content08 .underLine-line {
    justify-content: left;
    width: 200px;
    height: 0.3px;
    background-color: rgb(210, 215, 224);
    margin: 50px 0 10px;
  }
  .eventsBox {
    margin-top: 35px;
    }
  .content08 .event {
    padding: 0;
    height: 40px;
  }
  .content08 .event-ym {
    width: 90px;
    font-size: 16px;
  }
  .content08 .event-day {
    width: 50px;
    font-size: 16px;
  }
  .content08 .event-title {
    width: 47vw;
    line-height: 18px;
    margin-top: 6px;
    font-size: 16px;
  }
  .content08 .event-des {
    display: none;
  }
  /* CONTENT09 */
  .content09 .content-inner {
    width: 100vw;
  }
  .content09 .logo-slide .logo-item {
    height: 90px;
    margin: 0px -1px;
  }
  /* FOOTER */
  footer .footer-title {
    font-size: 24px;
    line-height: 30px;
  }
  .contact {
    padding-top: 50px;
    font-size: 18px;
  }
  .sns-icon .iconBox {
    margin: 0 5px;
  }
  .underLine-line {
    width: 100vw;
    height: 0.3px;
    background-color: rgb(109, 116, 129);
    margin: 50px 0 10px;
  }
  .copyright {
    margin-top: 40px;
    padding-bottom: 30px;
    font-weight: 200;
  }
  .sns-icon .iconBox a img {
    width: 22px;
  }
 }