/* 초기화 CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, html {
	line-height: 1;
  font-size: 16px;
  scroll-behavior: smooth;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --hj-gray: #999999;
  --hj-white: #e6e6e6;
  --hj-blue: #062865;
  --hj-navy: #03101b;
}
* {
  box-sizing: border-box;
  font-family: "Pretendard";
}
a, a:link {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-size: 52px;
  line-height: 62px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 32px;
}
h4 {
  font-size: 16px;
}
.c-b {
  color: var(--hj-blue);
}
.c-g {
  color: var(--hj-gray);
}
.c-w {
  color: var(--hj-white);
}

/* Think Block */
.wrapper {
  width: 100%;
  overflow: hidden;
}
/* 영상 인트로 */
.intro-video {
  position: absolute;
  width: 100%;
  top: -100px;
  z-index: 0;
}
/* HEADER */
header {
	width: 100%;
	height: 90px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	text-transform: uppercase;
	transition: 1s;
  background: transparent;
  overflow: hidden;
	z-index: 9999;
}
header.active {
	width: 105%;
	height: 90px;
	position: fixed;
	top: 0px;
	box-sizing: border-box;
	background: var(--hj-navy);
	transition: 1s;
}
.header-inner {
	position: relative;
	width: 1280px;
	height: 100%;
	margin: 0 auto;
}
.logo {
  display: flex;
  justify-content: center;
  position: relative;
  float: left;
  width: 130px;
  height: 90px;
}
.logo a {
  width: 100%;
  margin: auto;
}
.logo a img {
  width: 100%;
  line-height: 90px;
}

/* HEADER RIGHT */
.header-right {
  line-height: 90px;
}
nav {
	height: 100%;
	float: right;
}
nav ul {
	height: 100%;
	display: flex;
	align-items: center;
}
nav ul li {
  margin: 0 30px;
	font-size: 16px;
	font-weight: 200;
}
nav ul li a {
  color: var(--hj-white) !important;
}
nav ul li a:hover {
	color: #fff;
}

/* INTRO PAGE */
.intro-page {
  height: 100vh;
  padding-top: 60px;
  background-color: #03101b;
  background: url("/img/intro-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 99;
}
.intro-page .content{
  display: flex;
  margin-top: 250px;
  padding-left: 10px;
  color: #fff;
}
.intro-page .content .textBox {
  width: 700px;
  padding: 2px;
  margin-left: 10px;
  z-index: 99;
}
.intro-page h4 {
  margin-top: 20px;
  margin-left: 10px;
  font-size: 16px;
}
.intro-page .btn {
  position: relative;
  font-size: 12px;
  border-radius: 25px;
  margin-top: 150px;
}
.intro-page .btn a {
  margin: 5px;
  padding: 16.5px 48px;
  border-radius: 25px;
  overflow: hidden;
  transition: .4s;
}
.intro-page .btn a:first-child {
  background-color: var(--hj-yellow);
}
.intro-page .btn a:first-child:hover {
  background-color: var(--hj-blue);
}
.intro-page .btn a:nth-child(2) {
  border: 2px solid #fff;
}
.intro-page .btn a:nth-child(2):hover {
  border: 2px solid #fff;
  color: var(--hj-yellow);
  border: 2px solid var(--hj-yellow);
}
.intro-page .imgBox {
  width: 550px;
}
.intro-page .imgBox img {
  width: 100%;
}
.intro-page .content .textBox {
  color: var(--hj-white);
}
/* CONTENT COMMON */
.content { 
  width: 1280px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 50px;
}
.content01, .content03, .content05,.content06 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 520px;
  padding: 0;
}
.content .imgBox {
  width: 50%;
}
.content .imgBox img {
  width: 80%;
}
.content .textBox {
  width: 50%;
  color: var(--hj-blue);
}
.content .textBox.al-c {
  width: 100%;
  text-align: center;
}
.content .textBox p {
  width: 510px;
  margin-top: 20px;
  line-height: 20px;
}
.title {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  color: var(--hj-blue);
}
.btn {
  text-transform: uppercase;
}

/* CONTENT01 */
.content01 .imgBox {
  width: 50%;
  height: 100%;
  background: url("/img/1.welcome.jpg");
  background-size: cover;
  background-position: center;
}
.content01 .textBox {
  margin-left: 40px;
}
/* CONTENT02 */
.content02 {
  width: 100%;
  height: 520px;
  padding: 0;
  background-color: var(--hj-navy);
  color: var(--hj-white);
}
.content02 .titleBox {
  padding-top: 70px;
  width: 1280px;
  margin:0 auto;
}
.content02 .title {
  color: var(--hj-white);
}
.content02 .itemBox {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.content02 .itemBox .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 270px;
  height: 310px;
  margin: 0 15px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
}
.content02 .itemBox .item img{
  position: absolute;
  top: 15%;
  width: 70px;
  transition: .5s;
}
.content02 .itemBox .item .item-name {
  font-size: 26px;
  padding-top: 50px;
  margin: 15px auto;
}
.content02 .itemBox .item .item-des {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 20px;
}
/* CONTENT03 */
.content03 .imgBox {
  width: 50%;
  height: 100%;
  background: url("/img/3.evolution.jpg");
  background-size: cover;
  background-position: center;
}
.content03 .textBox {
  margin-left: 40px;
}
.content03 .imgBox img {
  width: 800px;
  margin-left: -250px;
}
.content03 .btn {
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--hj-yellow);
  margin-top: 30px;
  overflow: hidden;
}
.content03 .btn .btnBack {
  display: block;
  position: relative;
  right: 25px;
  width: 200px;
  height: 100px;
  background-color: var(--hj-blue);
}
.content03 .btn .btnBack.goUp {
  animation: slideUp .5s forwards;
}
.content03 .btn .btnBack.goDown {
  animation: slideDown .4s forwards;
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-75px);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-75px);
  }
  to {
    transform: translateY(0);
  }
}
.content03 .btn a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  font-size: 12px;
  z-index: 10;
}
/* CONTENT04 */
.content04 .textBox p {
  width: auto;
}
.content04 .textBox p span {
  font-size: 15px;
}
.content04 .title {
  justify-content: center;
  margin-top: 20px;
}
.content04 .chartBox {
  margin: 70px auto;
}
.content04 .chart-top {
  margin-left: 140px;
}
.content04 .chart-bottom {
  margin-left: 150px;
}
.content04 .chart { 
  display: flex;
}
.chart-info p {
  color: #1a5c9e;
}
.chart-info span {
  line-height: 25px;
}
.chart-top .chart-info{
  margin-right: 125px;
  z-index: 2;
}
.chart-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 110px;
  margin: -25px;
}
.chart-img img {
  height: 100%;
}
.chart-bottom .chart-info{
  margin-left: 130px;
}
/* CONTENT05 */
.content05 {
  position: relative;
  background-color: var(--hj-navy);
}
.content05 .content-inner {
  width: 1280px;
  margin: 0 auto;
  z-index: 9;
}
.content05 .textBox {
  width: 50%;
  color: var(--hj-white);
  z-index: 2;
}
.content05 .imgBox {
  position: absolute;
  right: 100px;
  width: 900px;
  height: 520px;
  background: url(/img/5.network.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.content05 .countingBox {
  display: flex;
  padding: 20px 0;
}
.content05 .countingBox .count {
  width: 60px;
}
.content05 .countingBox .count-num {
  font-size: 22px;
}
.content05 .countingBox .count02 {
  margin-left: 50px;
}
.content05 .countingBox .count-des {
  margin-top: 5px;
  font-size: 0.75rem;
}
.content05 .companies {
  display: flex;
}
.content05 .companies .company {
  font-size: 1.2rem;
  margin: 0 2rem;
  text-align: center;
}
/* CONTENT06 */
.content06 .imgBox {
  width: 50%;
  height: 100%;
  background: url("/img/6.wallet.jpg");
  background-size: cover;
  background-position: center;
}
.content06 .textBox {
  margin-left: 40px;
}
.content06 .imgBox img {
  width: 600px;
  margin-left: -50px;
}
.vaex-link {
  display: flex;
  width: 450px;
  height: 180px;
}
.vaexBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.vaex-link .qr {
  margin-right: 10px;
}
.vaex-web a{
  color: #000;
}
.vaex-web a:hover {
  color: rgb(161, 161, 161);
  font-weight: 700;
}

/* CONTENT07 */
.content07 {
  width: 100%;
  background-color: #f3f7f8;
}
.content07 .title {
  justify-content: center;
}
.content07 .textBox p {
  width: 600px;
  margin: 20px auto;
}
.content07 .textBox p span {
  color: rgb(131, 131, 131);
  font-size: 15px;
}
.team-slider {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
.team-slider .multiple-items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.team-slider .multiple-items .item {
  margin: 50px 20px 0;
  width: 250px;
  display: inline-block;
  line-height: 22px;
  text-align: center;
}
.team-slider .multiple-items .item .item-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-slider .multiple-items .item .item-img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #c8c8c8;
  overflow: hidden;
}
.team-slider .multiple-items .item .item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.team-slider .multiple-items .item:nth-child(4) .item-img img {
  transform: scale(1.2);
}
.team-slider .multiple-items .name {
  font-size: 14px;
  color: var(--hj-blue);
}
.team-slider .multiple-items .job {
  font-size: 14px;
}

/* CONTENT08 */
.content08 .title {
  justify-content: center;
}
.eventsBox {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
.event {
  margin: 0px 20px;
  padding: 30px 30px;
  border-radius: 15px;
  cursor: grab;
  transition: .5s;
}
.event:hover {
  box-shadow: 0 0 10px var(--hj-gray);
}
.event .event-day {
  font-size: 36px;
  line-height: 18px;
  color: #002884;
}
.event .event-day span{
  font-size: 14px;
}
.event .event-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.event .event-des {
  color: gray;
}
.event .btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.event .btn{
  margin-top: 20px;
  padding-top: 5px;
  width: 135px;
  height: 30px;
  border-radius: 15px;
  background-color: #dadada;
  overflow: hidden;
}
.event .btn .btnBack {
  display: block;
  position: relative;
  top: 10px;
  right: 25px;
  width: 200px;
  height: 100px;
  background-color: #000;
}
.event .btn .btnBack.goUp {
  animation: slideUp .5s forwards;
}
.event .btn .btnBack.goDown {
  animation: slideDown .4s forwards;
}
.event .btn a{
  position: relative;
  margin: 5px;
  padding: 8px 25px;
  font-size: 12px;
  color: #000;
  z-index: 2;
  transition: .3s;
}
.event .btn:hover a {
  color: var(--hj-white);
}

/* FOOTER */
footer {
  text-align: center;
  color: var(--hj-white);
  background-color: var(--hj-navy);
}
footer .footer-title {
  padding-top: 60px;
}
.searchBox form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.emailBox {
  position: relative;
  width: 700px;
  height: 40px;
  margin-top: 60px;
}
.emailBox .email-input {
  position: relative;
  width: 440px;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
}
.emailBox .email-input::placeholder {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0,-50%);
}
.emailBox .email-submit {
  position: absolute;
  right: 130px;
  width: 150px;
  height: 100%;
  border-radius: 20px;
  color: var(--hj-white);
  background-color: var(--hj-blue);
  cursor: pointer;
  transform-origin: 1s;
  z-index: 2;
}
.sns-icon {
  display: flex;
  justify-content: center;
}
.sns-icon .iconBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 20px 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--hj-blue);
}
.sns-icon .iconBox a {
  position: absolute;
    top: 10px;
}
.sns-icon .iconBox a img{
  width: 20px;
}
.sns-icon .iconBox {
  transition: .2s;
}
.copyright {
  margin-top: 100px;
  padding-bottom: 50px;
  font-size: 9px;
}


/* @@@@@@@@@@@@@@@@@@  모바일 버젼입니돵 @@@@@@@@@@@@@@@@@ */
@media screen and (max-width: 480px) { 
  header {
    height: 60px;
  }
  .header-inner {
    width: 100%;
  }
  .logo {
    width: 100px;
    height: 60px;
    margin-left: 10px;
  }
  .header-right {
    line-height: 60px;
  }
 }
