/* 초기화 CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body, html {
	line-height: 1;
  font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --hj-gray: #999999;
  --hj-white: #e9f2fd;
  --hj-yellow: #faa614;
  --hj-blue: #062865;
}
* {
  box-sizing: border-box;
  font-family: "Pretendard";
}
a, a:link {
  color: #fff;
  text-decoration: none;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 32px;
}
.c-y{
  color: var(--hj-yellow);
}

/* Think Block */
.wrapper {
  width: 100%;
  overflow-x: hidden;
}

/* HEADER */
header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	text-transform: uppercase;
	transition: 1s;
  background-color: #00458b;
	z-index: 99;
}
header.active {
	width: 1024;
	height: 60px;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	background: #fff;
	border-radius: 3rem;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 5px #000;
	transition: 1s;
}
.header-inner {
	position: relative;
	width: 1024px;
	height: 60px;
	margin: 0 auto;
}
.logo {
	position: relative;
	float: left;
	line-height: 60px;
	margin-left: 40px;
	font-size: 23px;
	font-weight: 700;
	overflow: hidden;
	background: #fff;
	background-clip: text;
	-webkit-background-clip: text;
}
header.active .logo a {
	background: linear-gradient(180deg, #fff 0%, #D9A491 30%, #401F0D 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	transition: 1s;
}
header.active .logo a:hover {
	color: #000;
}

/* HEADER RIGHT */
.header-right {
  line-height: 60px;
}
nav {
	height: 100%;
	float: right;
	margin-right: 100px;
}
nav ul {
	height: 100%;
	display: flex;
	align-items: center;
}
nav ul li {
	margin: 0 15px;
	font-size: 16px;
	font-weight: 200;
}
nav ul li a {
	color: #ebebeb;
}
header.active nav ul li a {
	color: #585858;
}
nav ul li a:hover {
	text-decoration-line: overline;
	color: #fff;
}
header.active nav ul li a:hover {
	color: var(--color-lightBrown);
}

/* INTRO PAGE */
.intro-page {
  height: 600px;
  padding-top: 60px;
  background-color: #00458b;
}
.intro-page .content{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0;
}
.intro-page .content .textBox {
  width: 700px;
  padding: 2px;
}
.intro-page h4 {
  margin-top: 70px;
  margin-left: 10px;
  font-size: 12px;
}
.intro-page .btn {
  position: relative;
  font-size: 12px;
  margin-top: 50px;
}
.intro-page .btn a {
  margin: 5px;
  padding: 16.5px 48px;
  border-radius: 25px;
  transition: .5s;
}
.intro-page .btn a:first-child {
  background-color: var(--hj-yellow);
}
.intro-page .btn a:nth-child(2) {
  border: 2px solid #fff;
}
.intro-page .btn a:nth-child(2):hover {
  border: 2px solid #fff;
  color: var(--hj-yellow);
  border: 2px solid var(--hj-yellow);
}
.intro-page .imgBox {
  width: 550px;
}
.intro-page .imgBox img {
  width: 100%;
}
/* CONTENT COMMON */
.content { 
  width: 1280px;
  min-height: 50vh;
  margin: 0 auto;
  padding: 50px;
}
.content .imgBox {
  width: 50%;
}
.content .imgBox img {
  width: 80%;
}
.content .textBox {
  color: var(--hj-blue);
}
.content .textBox.al-c {
  width: 100%;
  text-align: center;
}
.content .textBox p {
  margin-top: 20px;
  line-height: 20px;
}
.title {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
  display: flex;
  color: var(--hj-blue);
}
.yellow-line {
  display: block;
  width: 30px;
  height: 3px;
  margin-top: 3px;
  margin-right: 10px;
  background-color: var(--hj-yellow);
}
.btn {
  text-transform: uppercase;
}

/* CONTENT01 */
.content01, .content03, .content05,.content06 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content01 .imgBox img {
  width: 800px;
  margin-left: -200px;
}
.content .textBox {
  width: 50%;
}
.content .textBox p {
  width: 510px;
}
/* CONTENT02 */
.content02 .itemBox {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}
.content02 .itemBox .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 270px;
  height: 310px;
  margin: 0 15px;
  text-align: center;
}
.content02 .itemBox .item:hover {
  box-shadow: 0 0 1px rgb(197, 197, 197);
  background-color: var(--hj-white);
}

.content02 .itemBox .item img{
  position: absolute;
  top: 15%;
  width: 70px;
  transition: .5s;
}
.content02 .itemBox .item img:nth-child(2):hover {
  animation: scaleUp .2s;
}
@keyframes scaleUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
.content02 .itemBox .item .item-name {
  font-size: 26px;
  padding-top: 50px;
  margin: 15px auto;
}
.content02 .itemBox .item .item-des {
  font-size: 14px;
  letter-spacing: -1px;
  line-height: 15px;
}
/* CONTENT03 */
.content03 .imgBox img {
  width: 800px;
  margin-left: -250px;
}
.content03 .btn {
  margin-top: 30px;
}
.content03 .btn a {
  width: 400px;
  height: 100px;
  padding: 8px 25px;
  background-color: rgb(243, 213, 115);
  border-radius: 50px;
}
/* CONTENT04 */
.content04 .textBox p span {
  color: rgb(131, 131, 131);
  font-size: 15px;
}
.content04 .chartBox {
  margin: 70px auto;
}
.content04 .chart { 
  display: flex;
}
.chart-info p {
  color: #1a5c9e;
}
.chart-info span {
  color: #939393;
  line-height: 25px;
}
.chart-top .chart-info{
  margin-right: 150px;
}
.chart-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
}
.chart-bottom .chart-info{
  margin-left: 200px;
}
/* CONTENT05 */
.content05 .imgBox img {
  width: 1000px;
  margin-left: -400px;
}
.content05 .countingBox {
  display: flex;
  padding: 20px 0;
}
.content05 .countingBox .count-num {
  font-size: 22px;
}
.content05 .countingBox .count02 {
  margin-left: 50px;
}
.content05 .countingBox .count-des {
  margin-top: 5px;
  font-size: 0.75rem;
}
.content05 .companies {
  display: flex;
}
.content05 .companies .company {
  font-size: 1.2rem;
  margin: 0 2rem;
  text-align: center;
}
/* CONTENT06 */
.content06 .imgBox img {
  width: 600px;
  margin-left: -50px;
}
.vaex-link {
  display: flex;
  height: 180px;
}
.vaexBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.vaex-link .qr {
  margin-right: 10px;
}
.vaex-web a{
  color: #000;
}
.vaex-web a:hover {
  color: rgb(161, 161, 161);
  font-weight: 700;
}
.vaex-app {

}

/* CONTENT07 */
.content07 .textBox p span {
  color: rgb(131, 131, 131);
  font-size: 15px;
}
.team-slider {
  position: relative;
}
.team-slider .multiple-items {
  width: 84%;
  height: 350px;
  margin: 0 auto;
  border: 1 dashed green;
}
.team-slider .multiple-items .item {
  width: 300px;
  height: 350px;
  display: inline-block;
  background-color: gray;
}
.team-slider .prev {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  padding-right: 2px;
  border: 1px solid #000;
  cursor: pointer;
  z-index: 3;
}
.team-slider .next {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;
  padding-left: 2px;
  border: 1px solid #000;
  cursor: pointer;
  z-index: 3;
}
.team-slider .arrow-btn:hover {
  background-color: rgb(228, 228, 228);
}

/* CONTENT08 */
.eventsBox {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.event {
  margin: 0 50px;
}
.event .event-day {
  font-size: 36px;
  line-height: 18px;
}
.event .event-day span{
  font-size: 14px;
}
.event .event-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.event .event-des {
  color: gray;
}
.event .readMore-btn{
  margin-top: 25px;
}
.event .readMore-btn a{
  width: 400px;
  height: 100px;
  margin: 5px;
  padding: 8px 25px;
  color: #00458b;
  background-color: #dadada;
  border-radius: 50px;
}

/* FOOTER */
footer {
  text-align: center;
}
.searchBox form{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.emailBox {
  position: relative;
  width: 700px;
  height: 40px;
}
.emailBox .email-input {
  position: relative;
  left: -20px;
  width: 400px;
  height: 100%;
  border-radius: 20px;
  z-index: 1;
}
.emailBox .email-input::placeholder {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0,-50%);
}
.emailBox .email-submit {
  position: absolute;
  right: 150px;
  width: 150px;
  height: 100%;
  border-radius: 20px;
  z-index: 2;
}
.sns-icon {
  display: flex;
  justify-content: center;
}
.sns-icon .iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--hj-blue);
}
.sns-icon .iconBox img{
  width: 20px;
}
